<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="">DAILY JOURNAL</a>
            <a class="float-r" href="/contact">CONTACT US</a>
            <a class="float-r" href="/about">ABOUT US</a>
            <a class="float-r" href="/compose">COMPOSE</a>
            <a class="float-r" href="/">HOME</a>
        </header>
        <main>